<aside class="col-sm-2 show pl-0 pull-left d-none d-xl-block" style="height:100%">

    <div class="sidebar-left" style="background-color: white">
            <!-- Sidebar -->
           
                
        
                    <ul class="nav sidebar-nav" role="tablist" >
                    
             <li class="nav-item menu-item1 height-40px" style="background-color:#FFFFFF; color:white !important" (click)="changeRouteAdmin('admin-dashboard');">

                        <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px"><img src="images/Admin_screens_logos-11.png" style="width:18%"/>Admin Panel</a>
                        
                    </li>
                    <li class="nav-item menu-item1 height-40px" style="background-color:#FFFFFF; text-align: left">
                        <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px" (click)="changeRouteAdmin('employee-upload');">
                            <img src="images/Admin_screens_logos-02.png" style="width:18%">Employee data upload</a>
                    </li>
                    <li class="nav-item menu-item1 height-40px" style="background-color:#497487; text-align: left">
                        <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:white; display: inline; padding: 0px" (click)="changeRouteAdmin('employee-data');"> 
                            <img src="images/data_white.png" style="width:18%">Employee data</a>
                            
                    </li>
                    <hr style="width: 90%; margin-top: 1px; margin-bottom: 1px;">
                    <li class="nav-item menu-item1 height-40px" style="background-color:#FFFFFF; text-align: left">
                        <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px" (click)="changeRouteAdmin('client-upload');"> 
                            <img src="images/Admin_screens_logos-02.png" style="width:18%" /> Client data upload</a>
                    </li>
                    <li class="nav-item menu-item1 height-40px" style="background-color:#FFFFFF; text-align: left">
                        <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px" (click)="changeRouteAdmin('client-data');" >
                            <img src="images/Admin_screens_logos-03.png" style="width:18%">Client data</a>
                            
                    </li>
                    <hr style="width: 90%; margin-top: 1px; margin-bottom: 1px;">
                    <li class="nav-item menu-item1 height-40px" style="background-color:#FFFFFF; text-align: left">
                            <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px" (click)="changeRouteAdmin('schedule-batch');">
                                <img src="images/Admin_screens_logos-08.png" style="width:18%">Schedule </a>
                        </li>
                        <li class="nav-item menu-item1 height-40px ">
                            <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px">
                                <img src="images/Admin_screens_logos-05.png" style="width:18%">Status</a>
                                
                        </li>
                        <hr style="width: 90%; margin-top: 1px; margin-bottom: 1px;">
                        <li class="nav-item menu-item1 height-40px" style="background-color:#FFFFFF; text-align: left">
                                <a class="cursor-pointer nav-link color-00 font-size-15 Ubuntu-B margin-top-2px margin-bottom-3" style="color:black; display: inline; padding: 0px" (click)="changeRouteAdmin('server-configuration');">
                                    <img src="images/Admin_screens_logos-06.png" style="width:18%">Configure Email server</a>
                            </li>
                </ul>
                
        </div>

</aside>

<main class="col-lg-12 col-xl-10 pull-left" role="main">

    <div style="width: 100%; text-align: center; margin-top: 7px;">
            <a *ngIf="searchPage == false && errorMsgState == true" [ngStyle]="{'color':errorMsgType === true ? 'red' : '#497487', 'border-left':errorMsgType === true ? '1px solid red' : '1px solid #497487', 'border-bottom':errorMsgType === true ? '1px solid red' : '1px solid #497487', 'border-right':errorMsgType === true ? '1px solid red' : '1px solid #497487' }" class="Ubuntu-L" style="background-color: white;border-left: 1px solid red;border-bottom: 1px solid red;border-right: 1px solid red;border-radius: 0px 0px 5px 5px;color: red;padding-left: 5em;padding-right: 5em;padding-bottom: 0.5em;padding-top: 0.4em;font-size:13.5px;" >
                {{errorMsg}}
            </a>
        </div>

    <div style=" background-color: white; border-radius: 5px; margin-top: 15px; min-height: 500px;">
        <div *ngIf="searchPage == true">

            <h1 style="margin-left:3%; padding-top: 16px; font-size: 18px; padding-bottom: 6px;"
		class="Ubuntu-L">Employee Data-Search</h1>
            <hr style="width: 95%; border-top: 1px solid #D8D8D8">
            
            <div class=" text-center">         
                    <!-- <form class="form-inline inputWithIcon">
                            <input type="search" class="form-control text-center font-size-14 search-box" style="width: 30%" name="search" placeholder="Type name of email id ">
                            
                    </form> -->

                    <form [formGroup]="empForm"  >
                            <div formArrayName="empSearch">
                                <section [formGroupName]="i"
                                *ngFor="let emp of empForm.controls.empSearch.controls; let i = index">
                                        <input formControlName="employeeName" type="search" class="form-control text-center font-size-14 search-box" style="width: 30%; background: #f7f7f7;" name="search" placeholder="Type name of email id ">
                                        <br>
                                        <br>
                                    <div class="form-inline width-x-searchform" style="margin:auto; margin-bottom: 10px;">
                                        <input formControlName="department" placeholder="Department" style=" width: 40%; line-height: 1.5em; margin-right: 25px; margin-left: 8%; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                          
                                        <input formControlName="area" placeholder="Area" style=" width: 40%; line-height: 1.5em; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                           
                                    </div>
                                    <div class="form-inline width-x-searchform" style="margin:auto;  margin-bottom: 10px;">
                                        <input formControlName="designation" placeholder="Designation" style=" width: 40%; line-height: 1.5em; margin-right: 25px; margin-left: 8%; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                        <input formControlName="region" placeholder="Region" style=" width: 40%; line-height: 1.5em; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                    </div>
                                    <div class="form-inline width-x-searchform" style="margin:auto; margin-bottom: 10px;">
                                            <input formControlName="reportToId" placeholder="Report To" style="width: 40%; line-height: 1.5em; margin-right: 25px; margin-left: 8%; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                            <input formControlName="territory" placeholder="Territory" style=" width: 40%; line-height: 1.5em; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                    </div>
                                    <div class="form-inline width-x-searchform" style="margin:auto;  margin-bottom: 10px;">
                                            <input formControlName="fromDate" placeholder="Start Date" style="width: 40%; line-height: 1.5em;  margin-right: 25px; margin-left: 8%; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                            <input formControlName="channel" placeholder="Channel" style=" width: 40%; line-height: 1.5em; border: 1px solid grey;border-radius: 10px;padding-left: 12px; " class="inputD">
                                    </div>
                                    <div class="form-inline width-x-searchform" style="margin:auto;  margin-bottom: 10px;">
                                            <input formControlName="toDate" placeholder="End Date" style=" width: 40%; line-height: 1.5em;  margin-right: 25px; margin-left: 8%; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                            <input formControlName="horizontal" placeholder="Horizontal" style=" width: 40%; line-height: 1.5em; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" class="inputD">
                                    </div>
                                    <div class="form-inline width-x-searchform" style="margin:auto;  margin-bottom: 10px;">
                                        <input class="d-sm-none inputD" formControlName="vertical" placeholder="Vertical" style=" width: 80%; line-height: 1.5em; margin-bottom: 25px; margin-left: 8%; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" >
                                    </div>
                                    <div class="form-inline width-x-searchform" style="margin:auto;  margin-bottom: 10px;">
                                            <span class="Ubuntu-L" style="font-size: 18px; margin-left: 8%;">Status</span>
                                            <span class="Ubuntu-L" style="font-size: 15px; margin-left: 50px; margin-right: 5px;">inactive</span>
                                            <ui-switch defaultBgColor="#497487" defaultBoColor="#497487" color="#497487" size="small" [ngModelOptions]="{standalone: true}" [(ngModel)]="status"></ui-switch>
                                            <span class="Ubuntu-L" style="font-size: 15px; margin-left: 5px; margin-right: 25px;">active</span>
                                            <input class="d-none d-md-block inputD" formControlName="vertical" placeholder="Vertical" style=" width: 40%; line-height: 1.5em; margin-bottom: 10px; border: 1px solid grey;border-radius: 10px;padding-left: 12px;" >
                                    </div>

                                </section>
                            </div>
                                
                                    <div style="text-align: center" >
                            <button class="Ubuntu-L buttonwidth" type="submit"  style="font-weight: bold  ;border-radius: 10px; border-color: #497487; text-align: center; color: #FFFFFF; background-color: #497487" (click)="searchEmp()">
                              Submit
                            </button>
                        </div>
                       
                          </form>
                        
        </div>

            

        </div>

        

        <div *ngIf="searchPage == false">
            <div class="container-fluid">
            <h1 style="margin-left:3%; padding-top: 16px; font-size: 18px; padding-bottom: 6px; display: inline"
                class="Ubuntu-L">Employee Data</h1>
            <a  class="Ubuntu-L searchbuttonwidth" (click)="backbutton()" style="font-weight: bold  ;border-radius: 15px; border-color: #497487; text-align: center; color: #FFFFFF; background-color: #497487; display: inline-block; font-size: 14px;  padding-top: 0.3em; padding-bottom: 0.3em;margin-left: 25px;margin-top: 18px; margin-bottom: 9px">
                <img src="images/search-icone.png" style="height:16px">Search
            </a>
            <!-- <div class="delbuttongap" style="display: inline-block; text-align: right; ">
                <a style="cursor: pointer;"><img class="delbutton" src="images/delete_full.png"  (click)="DeleteCheckedEmployees()"></a>
            </div> -->
            <div *ngIf="toggleDelete == true" class="delbuttongap d-none d-md-inline-block" (click)="DeleteCheckedEmployees()" style="display: inline-block; text-align: right; ">
                <a  class="cursor-pointer Ubuntu-L" style="font-weight: bold  ;border-radius: 5px; border-color: #f57660; text-align: left; color: #FFFFFF; background-color: #f57660;display: inline-block; font-size: 14px; width: 110px;padding-top: 0.1em; padding-bottom: 0.1em;margin-left: 25px;margin-top: 18px; margin-bottom: 9px; padding-left: 1em;">
                    <img src="images/delete_icon.png" style="height:30px"> Delete
                </a>
            </div>
            <hr style="width: 100%; border-top: 1px solid #D8D8D8">
            <div *ngIf="toggleDelete == true" class="d-sm-none" (click)="DeleteCheckedEmployees()" style="display: inline-block; text-align: right; margin-left: 50% ">
                <a  class="cursor-pointer Ubuntu-L" style="font-weight: bold  ;border-radius: 5px; border-color: #f57660; text-align: left; color: #FFFFFF; background-color: #f57660;display: inline-block; font-size: 14px; width: 110px;padding-top: 0.1em; padding-bottom: 0.1em;margin-left: 25px;margin-top: 1px; margin-bottom: 15px; padding-left: 1em;">
                    <img src="images/delete_icon.png" style="height:30px"> Delete
                </a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="employee-tab" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card border-none margin-5-">
                                <div class="" style="padding:0px !important">
                                    <div class="row">
                                        <div class="col-md-12 border-radius-8 border-4">
                                        <table class="font-size-12" style="width: 100%;">
                                            <thead class="background-color-439cc4 color-ff ">
                                                <tr>
                                                    <td class="ver-a-middle border-r" style="width: 50px; padding-left: 5px;">Sr. No.</td>
                                                    <td class="ver-a-middle border-r" style="width: 100px; padding-left: 5px;">ID</td>
                                                    <td class="ver-a-middle border-r" style="width: 150px">Name</td>
                                                    <td class="ver-a-middle border-r d-none d-md-table-cell" style="width: 190px; padding-left: 5px;">Email-ID</td>
                                                    <td class="ver-a-middle border-r d-none d-md-table-cell" style="width: 146px; padding-left: 5px;">Designation
                                                        
                                                    </td>
                                                    <td class="ver-a-middle border-r d-none d-md-table-cell" style="width: 146px; padding-left: 5px;">Report To</td>
                                                    <td class="ver-a-middle border-r d-none d-md-table-cell"  style="width: 80px; padding-left: 5px;" >Area</td>
                                                    <td class="ver-a-middle border-r d-none d-md-table-cell" style="width: 90px; padding-left: 5px;">Status</td>
                                                    <td class="ver-a-middle border-r d-none d-md-table-cell" style="width: 146px; padding-left: 5px;">Actions
                                                        <br>
                                                        Edit/Delete
                                                    </td>
                                                    <!-- mobile second row -->
                                                </tr>
                                                <tr>
                                                    <td class="ver-a-middle border-r d-sm-none" style="width: 146px; padding-left: 5px;">Report To</td>
                                                    <td class="ver-a-middle border-r d-sm-none" style="width: 90px; padding-left: 5px;">Status</td>
                                                    <td class="ver-a-middle border-r d-sm-none" style="width: 146px; padding-left: 5px;">Edit/Delete  
                                                    </td>
                                                

                                                </tr>
                                            </thead>
                                        </table>
                                            <div class="border-radius-8 border-4" *ngFor="let empDetails of EmployeeDetails let i=index">
                                                <table class="Ubuntu-L" style="width: 100%;">
                                                    <tr class="height-45px">
                                                        <td class="text-center ver-a-middle border-0 bg-color-eaeaea"  style="width: 50px; font-size: 13px; padding-left: 5px;">{{i+1}}</td> 
                                                        <td class="ver-a-middle border-0 bg-color-eaeaea text-left" style="width: 100px; font-size: 13px; padding-left: 5px;" >{{empDetails.employeeId}}</td>
                                                        <td class="ver-a-middle border-0 bg-color-eaeaea text-left" style="width: 150px; font-size: 13px; padding-left: 5px;" >{{empDetails.employeeName}}</td>
                                                        <td class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 190px; font-size: 13px; padding-left: 5px;" >{{empDetails.emailId}}</td>
                                                        <td *ngIf="empDetails.designationToggle == false" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 160px; font-size: 13px; padding-left: 5px;" >{{empDetails.designation}}</td>
                                                        <td *ngIf="empDetails.designationToggle == true" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 160px; font-size: 13px; padding-left: 5px;" ><input type="text"  [(ngModel)]="empDetails.designation" style="width: 100px"></td>
                                                        <td *ngIf="empDetails.reportToIdToggle == false" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 146px; font-size: 13px; padding-left: 5px;">{{empDetails.reportToName}}</td>
                                                        <td *ngIf="empDetails.reportToIdToggle == true" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 155px; font-size: 13px;padding-left: 5px;">
                                                            <input type="text"  ng2-auto-complete [(ngModel)]="empDetails.reportToId" style="width: 100px"
                                                            [source]="'app/auth/getReportTo?reportTo=:keyword'"
                                                            [list-formatter]="autocompleListFormatter"
                                                            value-property-name="reportToId"
                                                            display-property-name="reportToId"	
                                                            (ngModelChange)="onChange($event, i)"									                                             
                                                            path-to-data="rsBody.msg"
                                                            min-chars="2"
                                                            ></td>
                                                        <td *ngIf="empDetails.areaToggle == false" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 80px; font-size: 13px; padding-left: 5px;">{{empDetails.area}}</td>
                                                        <td *ngIf="empDetails.areaToggle == true" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 80px; font-size: 13px; padding-left: 5px;"><input type="text"  [(ngModel)]="empDetails.area" style="width: 50px"></td>
                                                        <td *ngIf="empDetails.statusToggle == false" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 90px; font-size: 13px; padding-left: 5px;">{{empDetails.status}}</td>
                                                        <td *ngIf="empDetails.statusToggle == true" class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 90px; font-size: 13px; padding-left: 5px;"><input type="checkbox" ng-checked="toggleState(i)" ng-change="activeState(i)" [(ngModel)]="empDetails.status" style="width:40px"></td>
                                                        <td class="ver-a-middle border-0 bg-color-eaeaea text-left d-none d-md-table-cell" style="width: 146px; font-size: 13px;">
                                                            <a *ngIf="empDetails.editchecked == false" ><img src="images/edit_icon.png" style="width: 30%" (click)="toggleEditButton(i)"> </a>
                                                            <a *ngIf="empDetails.editchecked == true" ><img src="images/apply_button.png" style="width: 30%" (click)="saveEmp(i)"> </a>
                                                            <a *ngIf="empDetails.editchecked == true" ><img src="images/cancel_button.png" style="width: 30%" (click)="toggleEditButton(i)"> </a>
                                                            <a *ngIf="empDetails.checked == false" ><img src="images/unchecked_icon.png" style="width: 30%" (click)="toggleDeleteButton(i)"> </a>
                                                            <a *ngIf="empDetails.checked == true" ><img src="images/checked_icon.png" style="width: 30%" (click)="toggleDeleteButton(i)"> </a>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                            <td *ngIf="empDetails.reportToIdToggle == false" class="ver-a-middle border-0 bg-color-eaeaea text-left d-sm-none" style="width: 146px; font-size: 13px;padding-left: 5px;">{{empDetails.reportToName}}</td>
                                                            <td *ngIf="empDetails.reportToIdToggle == true" class="ver-a-middle border-0 bg-color-eaeaea text-left d-sm-none" style="width: 155px; font-size: 13px;padding-left: 5px;"><input type="text"  [(ngModel)]="empDetails.reportToId" style="width: 100px"></td>
                                                            <td *ngIf="empDetails.statusToggle == false" class="ver-a-middle border-0 bg-color-eaeaea text-left d-sm-none" style="width: 90px; font-size: 13px;padding-left: 5px;">{{empDetails.status}}</td>
                                                            <td *ngIf="empDetails.statusToggle == true" class="ver-a-middle border-0 bg-color-eaeaea text-left d-sm-none" style="width: 90px; font-size: 13px;padding-left: 5px;"><input type="checkbox" ng-checked="toggleState(i)" ng-change="activeState(i)" [(ngModel)]="empDetails.status" style="width:40px"></td>
                                                            <td class="ver-a-middle border-0 bg-color-eaeaea text-left d-sm-none" style="width: 146px; font-size: 13px;padding-left: 5px;">
                                                                    <a *ngIf="empDetails.editchecked == false" ><img src="images/edit_icon.png" style="width: 30%" (click)="toggleEditButton(i)"> </a>
                                                                    <a *ngIf="empDetails.editchecked == true" ><img src="images/apply_button.png" style="width: 30%" (click)="saveEmp(i)"> </a>
                                                                    <a *ngIf="empDetails.editchecked == true" ><img src="images/cancel_button.png" style="width: 30%" (click)="toggleEditButton(i)"> </a>
                                                                    <a *ngIf="empDetails.checked == false" ><img src="images/unchecked_icon.png" style="width: 30%" (click)="toggleDeleteButton(i)"> </a>
                                                                    <a *ngIf="empDetails.checked == true" ><img src="images/checked_icon.png" style="width: 30%" (click)="toggleDeleteButton(i)"> </a>
                                                                </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
    <notifier-container></notifier-container>
</main>