<main>
      <div class="navbar-header container-fluid blueNav">
        
        <a class="navbar-brand" href="#"><img src="./images/Hanogi-White-Logo.png" class="navlogo"> </a>
        
        <span  style="color:white; text-align:center !important; font-size:21.5px; margin-top:-55px ; margin-left: -400px; "><b>Setup your Organization </b></span>
        <span style="background-color:white; border-radius:20px; line-height:1.5em; font-size:15px; width: 20%; text-align: center; float: right; margin-top:40px">Welcome <b>Tony Smith</b></span>
      </div>

      <div style="text-align:center"> <p style="font-size:19px; margin-top: 5%">Select account type</p><br/>
        <span style="  border-radius:20px; background-color:#17bbc5;color:white; line-height:1.5em; font-size:21.5px;margin-right:-5px"> Individual </span>
    <span ><img src="./images/individual.png"  style=" width:5%; border-radius:100px; background-color:white; border:5px solid #17bbc5"></span>

    <hr style="color:#17bbc5 !important; height: 3px !important; margin-left:10%; margin-right:10%" >

    <div class=" col-md-2 upDiv"  > 
        Organization Logo (optional)<br/> <div class="upload"><img
             src="./images/upload.png" style="width:30%; " /><br/>
         Drag file here to <br/>upload<br/>
     <button class="choose">Choose File</button><br/><br/></div><br/>
     Max. size - 2MB
     </div>
    </div>
</main>