<html>
<body class="bgImg">
    <div>signupArea
    </div>
    <div class="row">
<div class="col-md-4 offset-md-1 signupArea">
    <img src="./images/Hanogi-Logo.png" style="width:30%; margin-top: 5%" /><br/>
     <span style="font-size:19px;"><b>Get started with your account </b></span><br/>
     <span style="font-size:14px; color: #969696;">Demystify your emails</span>
<div class="form-group">
    <input type="text" name="full name" placeholder="Your full name" class="form-control mb-2  border-radius-20  font-size-13 " style="width:80% !important; line-height:1.5em !important;" >
    <input type="text" name="Company name" placeholder="Company name" class="form-control mb-2 border-radius-20  font-size-13 " style="width:80% !important; line-height:1.5em !important; ">
    <input type="email" name="email id" placeholder="Email Id" class="form-control mb-2 border-radius-20  font-size-13 " style="width:80% !important; line-height:1.5em !important">
    <input type="password" name="Password" placeholder="Password" class="form-control mb-2 border-radius-20  font-size-13 " style="width:80% !important; line-height:1.5em !important">
    <input type="checkbox" class="custom-control-input custom-control custom-checkbox " id="customControlInline"> <span style="font-size:12px; color: #969696 ">I agree to the </span><span style="font-size:12px; color:#497bc4 "><a> Terms of Service</a></span><span style="font-size:12px; color: #969696 "> and</span><span style="font-size:12px; color:#497bc4 "><a> Privacy Policy.</a></span>
    <button type="submit" style="background-color: #969696; color: white; width:80% !important; line-height:1.5em !important" type="button" class="btn width-full border-radius-20  Ubuntu-B font-size-17 color-ff" >Sign Up</button>        
    <br/><br/>
    <button type="submit" style="background-color: red; color: white; width:80% !important; line-height:1.5em !important" type="button" class="btn width-full border-radius-20  Ubuntu-B font-size-17 color-ff" >Sign up with Google</button>      <br/>      <br/>                
                    
    <span style="font-size:12px; color: #969696 "> Already have an account.</span><span style="font-size:12px; color:#497bc4 "><u>Sign In.</u></span>
</div>

<br/>
</div>
<div class="col-md-3 offset-md-3" style="margin-top:3%; text-align: center;">
    <span class="font-size-13"> Need help? We are available 24/7.</span><br/>
    <button style=" background-color: #497487; color: white; width: 50%; border-radius: 30px; border:none; line-height: 1.6em; font-size: 13px;">Contact us now</button>
</div>
</div>
<div><br/><br/><br/><br/></div>
<div><br/><br/><br/><br/></div>
<div><br/><br/><br/><br/></div>
</body>

</html>