
<div id="navbar-wrapper" style="margin-bottom: 2rem">
    <header>
     	<nav class="navbar navbar-expand-lg nav-shadow" style="background-color:#FFFFFF">
      <a class="navbar-brand OpenSans-Bold font-size-30" href="#">Kafal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <form class="form-inline">
                    <input type="text" class="form-control text-center" style="width:350px;margin-left:300px; border-radius: 20px 20px;" name="search" placeholder="Search..">
                    <button type="Filter" class="btn btn-default" style="background-color:#497487; color: #FFFFFF; width: 80px;margin-left:30px;border-radius: 20px 20px;">Filter</button>
                </form>
                    </a>
          </li>
        </ul>

    <div class="navbar-text">
            <img style="height:30px; width:30px" src="images/user.jpg">&nbsp;
    </div>&nbsp;&nbsp;
        <span class="line-height-12">
            <span class="font-size-15 OpenSans-Light">Tony Smith</span><br>
            <span class="font-size-10 OpenSans-Light">Chief executive officer</span>
        </span>
  </div>
</nav>
        
    </header>
</div>
<div id="wrapper">

    <main id="page-content-wrapper" role="main">
        <router-outlet></router-outlet>
    </main>
</div>
